.pre-chache {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color:   var(--clr-lilac); */
  z-index: 9999;
}

.video-container {
  width: 100%;
  height: 100vh;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 */
/* INTRO PAGE ----------------------------------------------------------------*/
.centered-text {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Montserrat', sans-serif;
  /* Use the Montserrat font */
  font-size: 4rem;
  font-weight: 700;
  color: aliceblue;
  z-index: 10;
  text-shadow: 0px 0px 10px #00000046;
}

@media (max-width: 1052px) {
  .centered-text {
    font-size: 2rem;
    position: absolute;

  }
}



.blocks {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.block {
  position: fixed;
  width: 50%;
  height: 100vh;
}

.block-left {

  left: 0;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr 1.1fr;
  grid-template-rows: 0.8fr 1.6fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "areaGrande areaGrande areaGrande"
    "areaGrande areaGrande areaGrande"
    "areaPiccolaSinistra areaPiccolaSinistra areaPiccolaDestra";

  width: 50%;
  height: 100%;

  z-index: 3;
  background-color: inherit;
}

.block-right {
  right: 0;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.9fr 0.4fr 2.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "red black"
    "red celeste"
    "orange orange";
  width: 50%;
  height: 100%;

}


@media (max-width: 960px) {
  .block-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.6fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "areaGrande"
      "areaGrande"
      "areaPiccolaDestra";
    width: 50%;
    height: 100%;
    background-color: inherit;
  }

  .block-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 0.4fr 2.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "red"
      "red"
      "orange";
    width: 50%;
    height: 100%;
  }
}

.areaGrande {
  grid-area: areaGrande;
  background-color: rgb(15, 15, 15);

}

.areaPiccolaSinistra {
  grid-area: areaPiccolaSinistra;
  background-color: #77C7D9;
}

.areaPiccolaDestra {
  grid-area: areaPiccolaDestra;
  background-color: #FF1D7F;
}


.red {
  grid-area: red;
  background-color: #F29999;

}

.black {
  grid-area: black;
  background-color: rgb(15, 15, 15);
}

.celeste {
  grid-area: celeste;
  background-color: #78BF91;
}

.orange {
  grid-area: orange;
  background-color: #F2BF27;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 */




