
/* Utility classes */


  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }
  
  .container {
    width:  100%;
    margin-inline: auto;
  }
  
  .even-columns {
    display: grid;
    gap: 1rem;
  }
  
  :where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3em);
  }
  
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
  }
  
  .padding-block-900 {
    padding-block: var(--size-900);
  }
  
  @media (min-width: 50em) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }